<app-navbar id="ini"></app-navbar>
<mat-grid-list cols="1" rowHeight="49:1">

  <mat-grid-tile class="mgt-1 " [rowspan]="21" id="sect1">
    <h1 class="mat-display-1 hh1"><span class="l1">|</span>Joyeria</h1> 
    <span><h1></h1></span>
    <span class="typewriter"><h1 class="hh1">Astorga</h1></span>
  </mat-grid-tile>
  <mat-grid-tile id="about" [rowspan]="2">
    </mat-grid-tile>
  <mat-grid-tile [rowspan]="3">
        <h1 class="font-weight-bold">Sobre Nosotros</h1>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="18">
      <app-carousel></app-carousel>
  </mat-grid-tile>

  <mat-grid-tile class="back2 " id="cli" [rowspan]="5">
  <h1 class="font-weight-bold">Lo que dicen nuestros <span style="color:rgba(83, 82, 81, 0.939);">clientes</span></h1>
</mat-grid-tile>
  <mat-grid-tile [rowspan]="9">
    
      <div style="padding:.51%">
          <div class="box shadow" id="br">   
                <img src="../../assets/images/user.jpg" class="rounded-circle perfil align-middle">            
          </div>
          <div class=" col-2 center">
                <h5  class = "name" style="color:white;" id="br">kevin</h5> 
          </div>
    
      </div> 
      <div class="col-12 rectangle rounded shadow" id="br">
          <h6>"Trabajo comprometido,buen acabado,totalmente satisfecho!"</h6>
              <div class="sub-rectangle col-12 rounded"></div>
      </div>

      
      <div style="padding:.51%">
        <div class="box shadow" id="br">   
            <img src="../../assets/images/u2.jpg" class="rounded-circle perfil align-middle">  
   
        </div>
        <div class=" col-2 center">
              <h5  class = "name" style="color:white;">Cote</h5> 
        </div>
  
    </div> 
    <div class="col-12 rectangle rounded shadow" id="br">
        <h6>"Muy buen servicio, quede encantada con mi anillo, precioso y a la medida."</h6>
            <div class="sub-rectangle col-12 rounded"></div>
    </div>
    <div style="padding:.51%" >
      <div class="box shadow" id="br">   
          <img src="../../assets/images/u3.jpg" class="rounded-circle perfil align-middle">           
      </div>
      <div class=" col-2 center">
            <h5  class = "name" style="color:white;">Gabo</h5> 
      </div>

  </div> 
  <div class="col-12 rectangle rounded shadow" id="br">
      <h6> "Hice mis argollas de matrimonio, muy satisfecho, además de la confianza de cambiar la medida si es que no le quedaba a la novia jajaaj!"</h6>
          <div class="sub-rectangle col-12 rounded"></div>
  </div>

  </mat-grid-tile>

</mat-grid-list>
<app-footer id="contact"></app-footer>